extends ../layout

include ../mixins/messages

block content
  div.container
    div.row
      h1 Login

    +messages(message)

    -var error = false
    -if(data.user_email)
      - error = true

    div.row
      form(action="/login" method="post" role="form").form-horizontal
        div.form-group
          label(for="email").control-label.col-lg-2 Email
          div.col-lg-4
            input(type="email" name="email" required="required" value=error?"#{data.user_email}":'' placeholder=error?'':"Email").form-control
        
        div(class=error?'has-error':'').form-group
          label(for="password").control-label.col-lg-2 Wachtwoord
          div.col-lg-4
            input(type="password" name="password" required="required" placeholder="Wachtwoord").form-control
        
        div.form-group
          div.col-lg-offset-2.col-lg-10
            button(type="submit").btn.btn-default Login

