extends ../layout

block content
  div.container
    div.row
      h1 Overview
  
    div.row
      h2 Opgeslagen Afspeellijsten
      
      -if(playlists)
        ul
          each playlist in playlists
            li
              a(href="searchsong/#{playlist.playlist_name}")= playlist.playlist_name

    div.row
      p Maak een Afspeellijst aan 
      form(action="/create-playlist" method="post" role="form").form-inline
        div.form-group
          label(for="playlist_name").sr-only Naam
          input(id="playlist_name" name="playlist_name" type="text" placeholder="Afspeellijst").form-control
        button(type="submit").btn.btn-default Verbind
